bleach
bleach-whitelist
dj-database-url
django~=3.2.4
git+https://github.com/pennersr/django-allauth@c50a30acc0e4553297b0ddb697d55a290ed6d038
django-bootstrap4
django-environ
djangorestframework
djoser
gunicorn
markdown
git+https://github.com/ftnext/diy-slack-post@bc445fb8af0a70d004f41a42d8dbdfce80821508#egg=postslack
psycopg2
whitenoise
