{% extends "base.html" %}
{% load bootstrap4 %}
{% load custom_filter %}

{% block title %}{{proposal.title}} | {{ block.super }}{% endblock %}

{% block content %}
  {% bootstrap_messages %}

  <div class="row">
    <div class="col-md-8">
      <h1 class="jumbotron-heading my-3">
        {% if review_by_user %}
          ✅
        {% endif %}
        {{ proposal.title }}
      </h1>

      <h2 class="my-3">セッションの情報</h2>
      <ul>
        <li>カテゴリ(Track): 
          <span class="badge badge-info">{{ proposal.track }}</span>
        </li>
        <li>発表の言語: 
          {% if proposal.speaking_language == "ja" %}
            <span class="badge badge-light">Japanese</span>
          {% else %}
            <span class="badge badge-dark">English</span>
          {% endif %}
        </li>
        <li>スライドの言語: 
          {% if proposal.slide_language == "bo" %}
            <span class="badge badge-info">Japanese & English</span>
          {% elif proposal.slide_language == "ja" %}
            <span class="badge badge-light">Japanese</span>
          {% else %}
            <span class="badge badge-dark">English</span>
          {% endif %}
        </li>
      </ul>

      <h2 class="my-3">概要（エレベータピッチ）</h2>
      <div class="p-3 mb-2 bg-light">
        {{ proposal.elevator_pitch|linebreaksbr }}
      </div>

      <h2 class="my-3">聴衆について</h2>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              聴衆のPythonのレベル
            </td>
            <td>
              {% show_level proposal.get_audience_python_level_display %}
            </td>
          </tr>
          <tr>
            <td>
              聴衆に求める前提知識
            </td>
            <td>
              {{ proposal.audience_prior_knowledge|linebreaksbr }}
            </td>
          </tr>
          <tr>
            <td>
              聴衆が持って帰れる具体的な知識やノウハウ
            </td>
            <td>
              {{ proposal.audience_take_away|linebreaksbr }}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="my-3">詳細（構成・タイムライン）</h2>
      <div class="p-3 mb-2 bg-light">
        {{ proposal.get_description_as_html|linebreaksbr }}
      </div>

      <h2 class="my-3">この題材を話すのに自分がふさわしいと考える理由やこのトークをするモチベーション</h2>
      <div class="p-3 mb-2 bg-light">
        {{ proposal.motivation_and_why|linebreaksbr|urlize }}
      </div>

      <h2 class="my-3">このトピックについて過去の登壇で使った資料やソースコードのURL（任意記述）</h2>
      {% if proposal.materials_url %}
        <a class="btn btn-secondary mb-4" data-toggle="collapse" href="#callapseMaterialCodeUrls"
            role="button" aria-expanded="false" aria-controls="callapseMaterialCodeUrls">
          資料やソースコードのURLを表示する
        </a>
        <p class="mb-4">
          <em>※アカウントが見えることで公平なレビューに支障があると考えるレビュアーの方は、表示しないでください</em>
        </p>
        <div class="collapse mb-4" id="callapseMaterialCodeUrls">
          <div class="p-3 mb-2 bg-light">
            {{ proposal.materials_url|linebreaksbr|urlize }}
          </div>
        </div>
      {% else %}
        <em>※記入はありません</em>
      {% endif %}

      <h2 class="my-3">この方が他に提出しているプロポーザル</h2>
      <ul>
        {% for other_proposal in other_proposals %}
          <li>
            <a href="{% url 'review:detail_proposal' sessionize_id=other_proposal.sessionize_id %}" target="_blank">
              {{ other_proposal.title }}
            </a>
          </li>
        {% empty %}
          <em>※他のプロポーザルはありません</em>
        {% endfor %}
      </ul>

      <hr>

      <h2 class="my-3">あなたのレビュー</h2>
      <div class="my-3">
        <a href="https://pyconjp.blogspot.com/2021/06/pycon-jp-2021-review-perspectives-of.html"
            target="_blank" rel="noreferrer noopener">
          PyCon JP Blog: レビュー観点 (review perspectives)
        </a>
      </div>
      <form method="POST">{% csrf_token %}
        <fieldset disabled="disabled">
          {% bootstrap_form form %}
        </fieldset>
        <button type="submit" class="btn btn-primary" disabled="disabled">保存</button>
      </form>

      <hr>

    </div> <!-- class-"col-md-8" -->
  </div>
{% endblock content %}
