{% extends "base.html" %}
{% load bootstrap4 %}
{% load custom_filter %}

{% block title %}Proposals | {{ block.super }}{% endblock %}

{% block content %}
  <h1 class="jumbotron-heading my-3">プロポーザル（{{ proposals_count }}本）</h1>

  <form>
    <div class="form-row">
      <div class="col-md-6">
        {% bootstrap_field form.audience_python_level %}
      </div>
      <div class="col-md-6">
        {% bootstrap_field form.speaking_language %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        {% bootstrap_field form.track %}
      </div>
      <div class="col-md-6">
        {% bootstrap_field form.query %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        {% bootstrap_field form.unreviewed %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-4">絞り込む</button>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          タイトル<br>
          <div class="my-1">&nbsp;</div>
        </th>
        <th scope="col">
          聴衆のPythonレベル<br>
          <div class="my-1">カテゴリ (Track)</div>
        </th>
        <th scope="col">
          発表言語<br>
          <div class="my-1">レビュー数</div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for proposal in page_obj.object_list %}
        <tr>
          <td>
            {% if proposal.is_reviewed_already %}
              ✅
            {% endif %}
            <a href="{% url 'review:detail_proposal' sessionize_id=proposal.sessionize_id %}">
              {{ proposal.title }}
            </a>
          </td>
          <td>
            {{ proposal.audience_python_level }}
            <br>
            <div class="badge badge-info my-1">{{ proposal.track }}</div>
          </td>
          <td>
            {% if proposal.speaking_language == "ja" %}
              <span class="badge badge-light">
            {% else %}
              <span class="badge badge-dark">
            {% endif %}
              {{ proposal.speaking_language }}</span>
            <br>
            <div class="badge badge-pill badge-info my-1">{{ proposal.count }}</div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link"
            href="{% url 'review:list_proposals' %}?{% query_replace request 'page' 1 %}">
          1
        </a>
      </li>

      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link"
              href="{% url 'review:list_proposals' %}?{% query_replace request 'page' page_obj.previous_page_number %}"
              aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link"
            href="{% url 'review:list_proposals' %}?{% query_replace request 'page' page_obj.number %}">
          {{ page_obj.number }}
        </a>
      </li>

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link"
              href="{% url 'review:list_proposals' %}?{% query_replace request 'page' page_obj.next_page_number %}"
              aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}

      <li class="page-item">
        <a class="page-link"
            href="{% url 'review:list_proposals' %}?{% query_replace request 'page' page_obj.paginator.num_pages %}">
          {{ page_obj.paginator.num_pages }} (Last)
        </a>
      </li>
    </ul>
  </nav>
{% endblock content %}
