{% extends "base.html" %}
{% load bootstrap4 %}
{% load custom_filter %}

{% block title %}Reviews | {{ block.super }}{% endblock %}

{% block content %}
  {% comment %}ログイン・ログアウトでallauthが設定するmessagesを使ったことにして、detail_proposalで表示しない{% endcomment %}
  {% if messages %}
    {% for message in messages %}
    {% endfor %}
  {% endif %}

  <h1 class="jumbotron-heading my-3">あなたのレビュー（{{ reviews_count }}本）</h1>

  <form>
    <div class="form-row">
      <div class="col-md-6">
        {% bootstrap_field form.score %}
      </div>
      <div class="col-md-6">
        {% bootstrap_field form.audience_python_level %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        {% bootstrap_field form.track %}
      </div>
      <div class="col-md-6">
        {% bootstrap_field form.query %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-4">絞り込む</button>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          評価
        </th>
        <th scope="col">
          プロポーザル
        </th>
        <th scope="col">
          レビューコメント
        </th>
      </tr>
    </thead>
    <tbody>
      {% for review in page_obj.object_list %}
        <tr>
          <td>
            {{ review.get_score_display }}
          </td>
          <td>
            <a href="{% url 'review:detail_proposal' sessionize_id=review.proposal_sessionize_id %}">
              {{ review.proposal_title }}
            </a>
            <br>
            <div class="my-1">
              <span class="badge badge-info">{{ review.proposal_track }}</span>
            </div>
            <span class="badge badge-{% color_by_language review.proposal_speaking_language %}">
              {{ review.proposal_speaking_language }}
            </span>
            &nbsp;
            {{ review.proposal_python_level }}
          </td>
          <td>
            <p>
              <small class="text-muted">最終更新日: {{ review.updated_at }}</small>
            </p>
            <p class="card-text">{{ review.comment|linebreaksbr }}</p>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}

{% endblock content %}
