{% extends "base.html" %}
{% load bootstrap4 %}
{% load socialaccount %}

{% block content %}
  <div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Sign in with your Slack account</h1>
    <a href="{% provider_login_url 'slack' process='login' %}">
      <img alt="Sign in with Slack" height="40" width="172"
      src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
      srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
    </a>
  </div>

  <hr>

  <div class="text-center col-md-4 offset-md-4">
    <h2 class="h3 mb-3 font-weight-normal">
      Login with your account <br>(for Slack guest)
    </h2>

    <form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">
        Login
      </button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock content %}
