{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}パスワード変更 | {{ block.super }}{% endblock %}

{% block content %}
  {% bootstrap_messages %}

  <h1 class="jumbotron-heading my-3">パスワード変更</h1>
  <p>
    アカウントが発行されたユーザ用。<br>
    Slackアカウントでログインしているユーザは使いません。
  </p>

  <div class="row">
    <div class="col-md-4">
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">変更</button>
      </form>
    </div>
  </div>
{% endblock content %}
