{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}パスワード変更 | {{ block.super }}{% endblock %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      {% comment %} ログインまわりのメッセージは煩雑なので表示したくない {% endcomment %}
      {% if "signed out" not in message.message and "signed in" not in message.message %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <h1 class="jumbotron-heading my-3">パスワード変更</h1>
  <p>
    アカウントが発行されたユーザ用。<br>
    Slackアカウントでログインしているユーザは使いません。
  </p>

  <div class="row">
    <div class="col-md-4">
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">変更</button>
      </form>
    </div>
  </div>
{% endblock content %}
